@import url("style.css");

footer {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal); 
  padding-top: calc(var(--padding-vertical) / 2);
  padding-bottom: calc(var(--padding-vertical) / 2);
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;   
  font-size: var(--body-size);
}

footer .footer-logo img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1000px) {
  footer .footer-logo {
    display: none;
  }
}