@import url("style.css");

footer {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal); 
  padding-top: calc(var(--padding-vertical) / 2);
    padding-bottom: calc(var(--padding-vertical) / 2);
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;   
}

footer .footer-content {
    font-weight: var(--bold);
}

footer .footer-logo img {
    width: 50px;
    height: 50px;
}