@import url("style.css");

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.5s;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  align-items: center;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

header nav .logo {
  display: flex;
  color: var(--color-light);
  font-weight: var(--bold);
  align-items: center;
}

header nav .logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--semi-bold);
}

header .hamburger-menu-button {
  display: none;
}

header .close-menu-button {
  display: none;
}

.close-menu-overlay {
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    z-index: 2;
  }
  header nav ul {
    position: absolute;
    background-color: var(--color);
    flex-direction: column;
    top: 0;
    right: -100vw;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 60vw;
    transition: all 0.5s;
    z-index: 999;
  }
  header nav ul.show {
    right: 0;
  }
  header .hamburger-menu-button {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../assets/hamburber.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  header .close-menu-button {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url(../assets/close.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    display: none;
  }

  .close-menu-overlay {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.565);
    width: 0;
    height: 0;
    z-index: 2;
    border-radius: 50%;
    transition: all 0.5s;
    opacity: 0;
    top: -50vh;
    right: -50vh;
  }
  .close-menu-overlay.show {
    width: 250vw;
    height: 250vh;
    opacity: 1;
  }
  header nav .logo {
    font-size: 12px;
  }
}
