@import url("style.css");

#jumbotron {
  display: flex;
  min-height: calc(100vh - var(--padding-vertical));
  padding-bottom: calc(var(--padding-vertical) * 3);
  background-image: url(../assets/image\ 1.png);
  background-size: cover;
  background-attachment: fixed;
  align-items: end;
}

#jumbotron .jumbotron-content {
  margin-left: var(--padding-horizontal);
  font-size: var(--header-size);
  color: var(--color-light);
  font-weight: var(--semi-bold);
}
#jumbotron .jumbotron-content a {
  padding: 10px 20px;
  font-size: var(--body-size);
  background-color: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#jumbotron .jumbotron-content a:hover {
  background-color: var(--color-light);
  color: var(--color);
}

#jumbotron .jumbotron-content .text-container {
  height: var(--subheader-height);
  overflow: hidden;
  margin: 0;
}
#jumbotron .jumbotron-content .text-container .jumbotron-p {
  margin: 0;
  position: relative;
  top: 70px;
  transition: all 1s;
}

#jumbotron .jumbotron-content .text-container .jumbotron-p.show {
  top: 0;
}

/* BAGIAN TENTANG KAMI */

#tentang-kami {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  background-color: var(--color-light);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
  min-height: 100vh;
}

#tentang-kami .tentang-kami-grid {
  display: grid;
  grid-template-columns: calc(50% + var(--padding-horizontal)) 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  height: 75vh;
  margin-top: var(--padding-vertical);
}

#tentang-kami .tentang-kami-grid-item {
  overflow: hidden;
}
#tentang-kami .tentang-kami-grid-item:nth-child(1) {
  grid-row: 1 / span 2;
}
#tentang-kami .tentang-kami-grid-item-img {
  background-image: url(../assets/tentang_kami/Rectangle\ 46.png);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 75vh;
  position: relative;
  transition: all 1s;
  border-radius: 5px;
}

#tentang-kami .tentang-kami-grid-item:nth-child(1) .tentang-kami-grid-item-img {
  background-image: url(../assets/tentang_kami/Rectangle\ 45.png);
}

#tentang-kami .tentang-kami-grid-item-img.show {
  top: 0;
}

#tentang-kami .tentang-kami-content {
  display: grid;
  grid-template-columns: calc(50% + var(--padding-horizontal)) 1fr;
  width: 100%;
  gap: 5px;
  margin-top: var(--padding-vertical);
}

#tentang-kami .tentang-kami-content .text-container-body {
  padding-right: var(--padding-horizontal);
}

/* BAGIAN VISI MISI */

#visi-misi {
  background-color: var(--color-secondary-dark);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  min-height: fit-content;
}

#visi-misi .visi-container,
#visi-misi .misi-container {
  background-color: var(--color-secondary);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
  color: var(--color-light);
}

#visi-misi .text-element-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
#visi-misi .text-element-header::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../assets/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#visi-misi .text-container-body-long {
  height: 300px;
}

#visi-misi .text-element-body-long {
  top: 300px;
}

#visi-misi .text-element-body-long.show {
  top: 0;
}

/* BAGIAN APA ITU */
#apa-itu {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
  background-color: var(--color-light);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#apa-itu .apa-itu-container {
  width: var(--container-post-width);
  text-align: center;
}

/* BAGIAN JENIS-JENIS BULLYING */
#jenis-jenis {
  border-top: 5px solid var(--color-light-dim-dark);
  background-color: var(--color-light);
  min-height: 100vh;
}

#jenis-jenis .jenis-jenis-container .text-container-header {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}

#jenis-jenis .jenis-jenis-list {
  display: grid;
  min-height: 100vh;
  background-color: var(--color-light-dim);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-top: 5px solid var(--color-light-dim-dark);
  border-bottom: 5px solid var(--color-light-dim-dark);
}
#jenis-jenis .jenis-jenis-list .jenis-jenis-item {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: calc(var(--padding-horizontal) / 2);
  padding-bottom: calc(var(--padding-horizontal) / 2);
}
#jenis-jenis .jenis-jenis-list .jenis-jenis-item.satu {
  border-right: 5px solid var(--color-light-dim-dark);
  border-bottom: 5px solid var(--color-light-dim-dark);
}
#jenis-jenis .jenis-jenis-list .jenis-jenis-item.dua {
  border-bottom: 5px solid var(--color-light-dim-dark);
}
#jenis-jenis .jenis-jenis-list .jenis-jenis-item.tiga {
  border-right: 5px solid var(--color-light-dim-dark);
  border-bottom: 5px solid var(--color-light-dim-dark);
}
#jenis-jenis .jenis-jenis-list .jenis-jenis-item.empat {
  border-bottom: 5px solid var(--color-light-dim-dark);
}

/* BAGIAN DAMPAK */
#dampak {
  background-color: var(--color-secondary);
  color: var(--color-light);
  min-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#dampak .dampak-content {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
}
#dampak .dampak-content .dampak-content-important {
  display: flex;
  gap: 5px;
  align-items: center;
}
#dampak .dampak-content .dampak-content-important::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

#dampak .dampak-image {
  background-image: url(../assets/tentang_kami/Rectangle\ 45.png);
  background-size: cover;
  background-position: center;
}

/* BAGIAN PENGANGAN DAN TINDAKLANJUT */
#penanganan-dan-tindaklanjut {
  background-color: var(--color-light);
  min-height: fit-content;
}
#penanganan-dan-tindaklanjut .penanganan-dan-tindaklanjut-header {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}

#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-header
  .text-container-body {
  width: var(--container-post-width);
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
  border-top: 2.5px solid var(--color-light-dim-dark);
  border-bottom: 2.5px solid var(--color-light-dim-dark);
}

#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item
  .step-number {
  font-size: var(--header-size);
  font-family: "Lora", Arial, sans-serif;
  padding: 15px 30px;
  font-weight: var(--semi-bold);
}

#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.satu {
  background-color: #ff62622f;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.satu
  .step-number {
  background-color: #ff626270;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.dua {
  background-color: #ffab623b;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.dua
  .step-number {
  background-color: #ffab6288;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.tiga {
  background-color: #fffa624c;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.tiga
  .step-number {
  background-color: #fffa6285;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.empat {
  background-color: #abff6234;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.empat
  .step-number {
  background-color: #abff6280;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.lima {
  background-color: #62ff6732;
}
#penanganan-dan-tindaklanjut
  .penanganan-dan-tindaklanjut-step
  .penanganan-dan-tindaklanjut-step-item.lima
  .step-number {
  background-color: #62ff678d;
}

/* BAGIAN PENGADUAN KASUS */
#pengaduan-kasus {
  background-color: var(--color-secondary);
  color: var(--color-light);
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
  min-height: fit-content;
}

#pengaduan-kasus .pengaduan-kasus-content .text-container-body {
  width: var(--container-post-width);
}

#pengaduan-kasus .pengaduan-kasus-content button {
  padding: 10px 20px;
  font-size: var(--body-size);
  background-color: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: 5px;
  cursor: pointer;
}
#pengaduan-kasus .pengaduan-kasus-content a {
  text-decoration: none;
  color: inherit;
}
#pengaduan-kasus .pengaduan-kasus-content button:hover {
  background-color: var(--color-light);
  color: var(--color);
}

/* BAGIAN TEXT SHOW */

.text-container-header,
.text-container-subheader,
.text-container-body,
.text-container-body-long {
  overflow: hidden;
  font-family: "Lora", Arial, sans-serif;
  height: var(--subheader-height);
}

.text-container-subheader {
  height: var(--body-height);
}

.text-container-body {
  height: 100px;
}

.text-container-body-long {
  height: 200px;
}

.text-element-header,
.text-element-subheader,
.text-element-body,
.text-element-body-long {
  margin: 0;
  font-weight: var(--semi-bold);
  position: relative;
  font-size: var(--header-size);
  top: var(--subheader-size);
  transition: all 1s;
}

.text-element-subheader {
  font-size: var(--subheader-size);
  top: var(--body-height);
}

.text-element-body {
  font-size: var(--body-size);
  top: 100px;
  font-family: "Work Sans", Arial, sans-serif;
}

.text-element-body-long {
  font-size: var(--body-size);
  top: 200px;
  font-family: "Work Sans", Arial, sans-serif;
}
.text-element-header.show,
.text-element-subheader.show,
.text-element-body.show,
.text-element-body-long.show {
  top: 0;
}

@media screen and (max-width: 1000px) {
  #jumbotron {
    background-position: center;
    min-height: 80vh;
  }
  #tentang-kami .tentang-kami-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #tentang-kami .tentang-kami-grid-item:nth-child(1) {
    grid-row: 1;
  }
  #tentang-kami .tentang-kami-content {
    grid-template-columns: 1fr;
  }

  #visi-misi {
    grid-template-columns: 1fr;
  }
  #apa-itu {
    min-height: fit-content;
  }
  #apa-itu .apa-itu-container {
    text-align: left;
  }

  #jenis-jenis .jenis-jenis-list {
    grid-template-columns: 1fr;
  }
  #dampak {
    grid-template-columns: 1fr;
  }

  #dampak .dampak-image {
    display: none;
  }

  .text-container-header {
    height: var(--header-height);
  }

  .text-element-header {
    top: 50px;
  }

  .text-container-subheader {
    height: fit-content;
  }

  #penanganan-dan-tindaklanjut
    .penanganan-dan-tindaklanjut-step
    .penanganan-dan-tindaklanjut-step-item
    .step-number {
    padding: 5px 15px;
    font-size: var(--subheader-size);
  }
  ol {
    padding-inline-start: 20px;
  }
  #jumbotron .jumbotron-content .text-container {
    height: 50px;
  }
  #pengaduan-kasus .pengaduan-kasus-content button {
    margin-top: 10px;
  }
}
